<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand home-link navigation-bar" href="{{ path_for('home') }}"><i><b>lachiegrant.io</b></i></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navigation-bar">
                <li class='home-link-navbar'><a href="{{ path_for('home') }}"><b>Home</b></a></li>
                <li><a href="{{ path_for('contact') }}">Contact</a></li>
                <li><a href="{{ path_for('home.people') }}">People</a></li>
                <li><a href="{{ path_for('home.consulting') }}">Consulting</a></li>
                <li><a href="{{ path_for('home.gallery') }}">Gallery</a></li>
                <li><a href="{{ path_for('home.github') }}" target="_blank">GitHub</a></li>
                <li><a href="{{ path_for('home.resume') }}" target="_blank">CV</a></li>

                {% if auth.admin %}
                    <li><a href="{{ path_for('blog') }}">Blog</a></li>
                    <li><a href="{{ path_for('home.gallery') }}">Gallery</a></li>
                    <li><a href="{{ path_for('blog.admin') }}"> Blog Admin </a></li>
                    <li><a href="{{ path_for('gallery.admin') }}"> Gallery Admin </a></li>
                {% endif %}

                {% if testMode %}
                    <li><a href="{{ path_for('home.test') }}">Test</a></li>
                {% endif %}

            </ul>

            <ul class="nav navbar-nav navbar-right navigation-bar">
                {% if auth.check %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ auth.user.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path_for('auth.sign-out') }}">Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class='login-links'><a href="{{ path_for('auth.sign-up') }}"><b><i>Sign up</i></b></a></li>
                    <li class='login-links'><a href="{{ path_for('auth.sign-in') }}"><b><i>Sign in</i></b></a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
